<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My App</title>
    <link href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/vendor/angular-chart.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/vendor/daterangepicker.css') }}" rel="stylesheet">
</head>

<body id="page-top">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div ng-app="MyApp" ng-cloak="">
    <div ui-view>
    </div>
</div>



{% assets filters="rjsmin", output="gen/my_app.js",
        'js/vendor/jquery.min.js',
        'js/vendor/bootstrap.min.js',
        'js/vendor/underscore.min.js',
        'js/vendor/moment.min.js',
         'js/vendor/moment-timezone-data.js',
        'js/vendor/moment-timezone.min.js',
        'js/vendor/angular.min.js',
        'js/vendor/angular.ui.router.min.js',
        'js/vendor/daterangepicker.js',
        'js/vendor/chart.min.js',
        'js/vendor/restangular.min.js',
        'js/vendor/angular-sanitize.js',
        'js/vendor/ng-csv.min.js',
        'js/vendor/angular-chart.min.js',
        'fe-app/app.js',
        'fe-app/filters.js',
        'fe-app/directives.js',
        'fe-app/services.js',
        'fe-app/controllers/first_controller.js' %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}
<script src="static/js/vendor/sticky.min.js"></script>


</body>
</html>
