# Web app
gunicorn
Flask==0.12
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-RESTful==0.3.5
Flask-Assets==0.12

# XML parsing
lxml==3.7.2

# Timezone support
pytz==2016.10

# Nicer shell alternative to python shell plus data science related packages
ipython==5.1.0

# HTTP for humans - http://docs.python-requests.org/en/master/
requests==2.12.5

# Code validation
pep8

# CLI
click

# PostgresSql driver (wrapper for libpq, the official PostgreSQL client library)
psycopg2==2.6.2

# ORM for interacting with database
SQLAlchemy==1.1.4

# Lsphinx_rtd_themeibraries for documentation
sphinx
sphinx-autobuild
