<div class="row">
    <div class="col-md-2">

        <br/>
        <h6 class="text-center">
            <date-range-filter param-change-callback="multiParamChangeCallback(changes)" date-format="apiDateFormat">
            </date-range-filter>
        </h6>
        <br/>
        <h6 class="text-center">
            <p>Filter 1</p>
            <btn-group-param-filter param-name="product"
                                    param-values="paramValues['filter_one']"
                                    param-change-callback="paramChangeCallback(name, value)"
                                    btn-group-classes="btn-group-vertical"
                                    btn-class="btn-default btn-sm"
                                    state-params="$stateParams">
            </btn-group-param-filter>
        </h6>
        <br/>
        <h6 class="text-center">
            <p>Filter 2</p>
            <btn-group-param-filter param-name="aggregate_by"
                                    param-values="paramValues['filter_two']"
                                    param-change-callback="paramChangeCallback(name, value)"
                                    btn-group-classes="btn-group-vertical"
                                    btn-class="btn-default btn-sm"
                                    state-params="$stateParams">
            </btn-group-param-filter>
        </h6>

    </div>

</div>